
.h_content{
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    gap: 1rem;
    padding: 1rem;
    /* margin-top: 80px; */
}

/* .h_content{
    z-index: 0;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    max-width: 80rem;
    width: 66%;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid red;
} */